@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: radial-gradient(ellipse at bottom, #000 0%, #fff 200%);
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
    color: #000;
    font-weight: bold;
}

h1 , p {
    color: #000;
}
